openapi: 3.0.0
info:
  title: PolicyEngine API
  description: The PolicyEngine API provides programmatic access to PolicyEngine functionalities, including managing policies and retrieving policy-related information.
  version: null
  contact:
    name: PolicyEngine Support
    email: hello@policyengine.org
    url: https://policyengine.org
servers:
  - url: https://api.policyengine.org
    description: Production server
paths:
  /:
    get:
      summary: Get the home page of the PolicyEngine API
      operationId: get_home
      description: Returns the home page of the PolicyEngine API as an HTML string.
      responses:
        200:
          description: The home page.
          content:
            text/html:
              schema:
                type: string
  /{country_id}/metadata:
    get:
      summary: Get metadata for a country
      operationId: get_metadata
      description: Get metadata for a country, including variables, parameters, entities, and other relevant information.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Metadata for the country.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      variables:
                        type: object
                      parameters:
                        type: object
                      entities:
                        type: object
                      variableModules:
                        type: object
                      economy_options:
                        type: object
                      spm:
                        $ref: '#/components/schemas/SPMDiscovery'
                      current_law_id:
                        type: integer
                      basicInputs:
                        type: array
                      modelled_policies:
                        type: object
                      version:
                        type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policy:
    post:
      summary: Set policy data for a given country and policy ID
      operationId: set_policy
      description: Set policy data for a given country and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                data:
                  type: object
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      policy_id:
                        type: integer
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policy/{policy_id}:
    get:
      summary: Get policy data for a given country and policy ID
      operationId: get_policy
      description: Get policy data for a given country and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The policy record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                      country_id:
                        type: string
                      policy_json:
                        type: object
                      policy_hash:
                        type: string
                      label:
                        type: string
                      api_version:
                        type: string
        404:
          description: Policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policies:
    get:
      summary: Search for policies
      operationId: get_policy_search
      description: Search for policies based on the country ID and search query.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: The search query.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: The search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        label:
                          type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household:
    post:
      summary: Set a household's input data
      operationId: post_household
      description: >-
        Set a household's input data for a given country ID. Certified US bundles
        accept spm beside data and store the resolved selection with the household.
        Saved household inputs and SPM selections are immutable. Create a new
        household to change either; household PUT is not supported. Dual-write
        creation preserves the selection in the v2 household content and identity.
        National SPM requires an explicit selection; county SPM reads county_fips
        from household inputs. A state alone does not identify an SPM area.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                label:
                  type: string
                  nullable: true
                data:
                  type: object
                spm:
                  $ref: '#/components/schemas/SPMSelection'
      responses:
        400:
          $ref: '#/components/responses/SPMValidationError'
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      household_id:
                        type: integer
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household/{household_id}:
    get:
      summary: Get a household's input data with a given ID
      operationId: get_household
      description: Get a household's input data with a given country ID and household ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: The household data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                      country_id:
                        type: string
                      household_json:
                        type: object
                      household_hash:
                        type: string
                      spm:
                        $ref: '#/components/schemas/SPMSelection'
                      label:
                        type: string
                        nullable: true
                      api_version:
                        type: string
        404:
          description: Household not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household/{household_id}/policy/{policy_id}:
    get:
      summary: Get a household's output data under a given policy
      operationId: get_household_under_policy
      description: >-
        Get a household's output data under a given policy. Calculations replay
        the household's stored SPM selection and return its actual provenance.
        SPM geography/composition errors are structured 400 responses.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: string
      responses:
        400:
          $ref: '#/components/responses/SPMValidationError'
        200:
          description: The household data under a given policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                  spm_config:
                    $ref: '#/components/schemas/SPMSelection'
                  spm_provenance:
                    $ref: '#/components/schemas/SPMProvenance'
        404:
          description: Household or policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        500:
          description: Error calculating household under policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/calculate:
    post: &household_calculation_operation
      summary: Calculate household and policy without storing data
      operationId: get_calculate
      description: >-
        Calculate requested household variables without storing data. Certified
        US bundles accept spm beside household and policy. National SPM requires
        an explicit selection; county SPM uses household county_fips inputs.
        Geography/composition errors occur only when an SPM dependency is needed,
        so a state-only tax calculation can succeed. Metro selection requires
        geography_id; national and county selections forbid geography_id. The
        selected artifact and scenario must belong to the certified bundle.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                household:
                  type: object
                policy:
                  type: object
                spm:
                  $ref: '#/components/schemas/SPMSelection'
      responses:
        400:
          $ref: '#/components/responses/SPMValidationError'
        200:
          description: The calculation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                  spm_config:
                    $ref: '#/components/schemas/SPMSelection'
                  spm_provenance:
                    $ref: '#/components/schemas/SPMProvenance'
        500:
          description: Error calculating household under policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/calculate-full:
    post:
      <<: *household_calculation_operation
      operationId: get_calculate_full
      summary: Calculate all household variables without storing data
      description: >-
        Calculate household variables after adding omitted yearly variables.
        Accepts the same household, policy, and certified US spm settings as
        calculate. SPM dependencies require household county_fips, an explicit
        metro area, or an explicit national selection; state alone is insufficient.
  /{country_id}/simulation:
    post:
      summary: Create or retrieve a simulation record
      operationId: create_simulation
      description: >-
        Persist the country, population and policy identity without running a
        calculation. Returns 201 for a new pending record and 200 for an existing
        record, preserving its saved status and output. Household calculations
        inherit the SPM selection saved on the linked household. Select SPM there
        before creating the simulation. Under a certified bundle, all US households
        linked to simulations have immutable inputs and selections, including those
        without saved spm. Changing inputs or adding or changing a selection requires
        a new household; its label remains editable. Top-level spm is rejected,
        including null, with HTTP 400 SPM_SETTINGS_UNSUPPORTED. US numeric household aliases match
        historical zero-padded IDs; existing records keep their saved spelling.
      parameters:
        - name: country_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationCreate'
      responses:
        201:
          description: New pending simulation record.
          content: &simulation_record_content
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationResponse'
        200:
          description: Existing simulation record; no new simulation was created.
          content: *simulation_record_content
        400:
          description: Invalid request or unsupported independent SPM selection.
          content: &simulation_error_content
            application/json:
              schema:
                $ref: '#/components/schemas/SimulationError'
    patch:
      summary: Store simulation output, status or error
      operationId: update_simulation
      description: >-
        Update the record selected by body id within the path country. Supply at
        least one non-null status, output or error_message; complete status requires
        non-null output. Null update fields are ignored, and omitted fields retain
        their values. The installed country model version and current run state
        are updated with the record. Preserve the full household calculation
        envelope, including spm_config and spm_provenance, inside output. Its SPM
        selection belongs to the linked household; this operation does not select
        a measurement or validate stored receipt integrity. Top-level spm is
        rejected, including null, with HTTP 400 SPM_SETTINGS_UNSUPPORTED.
      parameters:
        - name: country_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationUpdate'
      responses:
        200:
          description: Updated simulation record.
          content: *simulation_record_content
        400:
          description: Invalid update, no fields to update, or independent SPM selection.
          content: *simulation_error_content
        404:
          description: The simulation does not exist in the selected country.
          content: *simulation_error_content
  /{country_id}/simulation/{simulation_id}:
    get:
      summary: Get a stored simulation record
      operationId: get_simulation
      description: >-
        Read a country-scoped simulation record without running a calculation.
        Object and array outputs and simulation_spec_json use the legacy
        JSON-encoded string representation, or null when absent. Stored scalar
        strings are returned unchanged. Decode a saved household output envelope
        to read its spm_config and spm_provenance. Run identifiers and
        specification metadata may be null on historical records.
      parameters:
        - name: country_id
          in: path
          required: true
          schema:
            type: string
        - name: simulation_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          description: Stored simulation; the response message is null.
          content: *simulation_record_content
        400:
          description: Invalid country or simulation ID.
          content: *simulation_error_content
        404:
          description: The simulation does not exist in the selected country.
          content: *simulation_error_content
  /{country_id}/report:
    post:
      summary: Create a report output
      operationId: create_report_output
      description: Create or retrieve a report output for the provided simulations and year.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                simulation_1_id:
                  type: integer
                simulation_2_id:
                  type: integer
                  nullable: true
                year:
                  type: string
      responses:
        "200":
          description: Existing report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
        "201":
          description: Created report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
    patch:
      summary: Update a report output
      operationId: update_report_output
      description: Update a report output status, result, or error message.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                status:
                  type: string
                output:
                  type: object
                  nullable: true
                error_message:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Updated report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
  /{country_id}/report/{report_id}:
    get:
      summary: Get a report output
      operationId: get_report_output
      description: Get a report output by ID. Timestamp fields are projected from the selected base report run.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: report_id
          in: path
          description: The report output ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
  /{country_id}/economy/{policy_id}/over/{baseline_policy_id}:
    get:
      summary: Calculate the economic impact of a policy
      operationId: get_economic_impact
      description: Calculate the economic impact of a policy compared to a baseline policy. Specify the country ID, policy ID, and baseline policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: string
        - name: baseline_policy_id
          in: path
          description: The baseline policy ID.
          required: true
          schema:
            type: string
        # Query parameters are generated from policyengine_api.query_parameters.
      responses:
        200:
          description: Annual economic impact, progress, or persisted error state. Canonical completed results include the selected SPM configuration and actual baseline/reform receipts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, computing, error]
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
                    properties:
                      spm_config:
                        $ref: '#/components/schemas/SPMSelection'
                      spm_provenance:
                        $ref: '#/components/schemas/SPMWorkerProvenance'
        400:
          $ref: '#/components/responses/SPMValidationError'
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/economy/{policy_id}/over/{baseline_policy_id}/budget-window:
    get:
      summary: Calculate budget-window economic impacts
      operationId: get_budget_window_economic_impact
      description: Calculate annual and total budget impacts for a policy over a multi-year budget window.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The reform policy ID.
          required: true
          schema:
            type: string
        - name: baseline_policy_id
          in: path
          description: The baseline policy ID.
          required: true
          schema:
            type: string
        # Query parameters are generated from policyengine_api.query_parameters.
      responses:
        200:
          description: Budget-window economic impact, progress, or error state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                      - computing
                      - error
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
                    properties:
                      kind:
                        type: string
                        enum: [budgetWindow]
                      annualImpacts:
                        type: array
                        items:
                          type: object
                          properties:
                            year:
                              type: string
                            spm_config:
                              $ref: '#/components/schemas/SPMSelection'
                            spm_provenance:
                              $ref: '#/components/schemas/SPMWorkerProvenance'
                  progress:
                    type: integer
                    nullable: true
                  completed_years:
                    type: array
                    items:
                      type: string
                  computing_years:
                    type: array
                    items:
                      type: string
                  queued_years:
                    type: array
                    items:
                      type: string
                  error:
                    type: string
                    nullable: true
        400:
          $ref: '#/components/responses/SPMValidationError'
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /liveness-check:
    get:
      summary: Test for server liveness.
      operationId: liveness_check
      description: Determine whether or not the PolicyEngine server is live.
      responses:
        200:
          description: Server is live.
          content:
            text/plain:
              schema:
                type: string
  /readiness-check:
    get:
      summary: Test for server readiness.
      operationId: readiness_check
      description: >-
        Determine whether or not the PolicyEngine server is ready to serve
        requests. Unlike /liveness-check, this returns 503 until the startup
        warmup has compiled the simulation machinery.
      responses:
        200:
          description: Server is ready.
          content:
            text/plain:
              schema:
                type: string
        503:
          description: Server is live but not yet ready (still warming up).
          content:
            text/plain:
              schema:
                type: string
  /specification:
    get:
      summary: Get OpenAPI specs.
      operationId: get_specification
      description: Get OpenAPI-formatted specs of PolicyEngine API
      responses:
        200:
          description: OpenAPI specs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    type: object
                  openapi:
                    type: string
                  paths:
                    type: object
                  servers:
                    type: array
components:
  schemas:
    SimulationCreate:
      type: object
      required: [population_id, population_type, policy_id]
      not:
        required: [spm]
      properties:
        population_id:
          description: Household ID or geography identifier; US numeric household IDs also accept JSON integers.
          oneOf:
            - type: string
              minLength: 1
            - type: integer
        population_type:
          type: string
          enum: [household, geography]
        policy_id:
          type: integer
    SimulationUpdate:
      type: object
      required: [id]
      not:
        required: [spm]
      description: At least one non-null status, output or error_message is required. Null fields do not clear saved values.
      anyOf:
        - required: [status]
          properties:
            status:
              not:
                enum: [null]
        - required: [output]
          properties:
            output:
              not:
                enum: [null]
        - required: [error_message]
          properties:
            error_message:
              not:
                enum: [null]
      properties:
        id:
          type: integer
          description: Simulation ID within the path country.
        status:
          type: string
          nullable: true
          enum: [pending, complete, error, null]
        output:
          description: >-
            Saved JSON output, or a JSON-encoded string which the service decodes
            before storage. For household calculations preserve the complete
            StoredHouseholdOutputEnvelope. Legacy outputs can have other JSON
            shapes. Null is ignored, and complete status requires non-null output.
          x-household-envelope-schema:
            $ref: '#/components/schemas/StoredHouseholdOutputEnvelope'
        error_message:
          type: string
          nullable: true
        api_version:
          deprecated: true
          description: Ignored for every supplied JSON value; updates use the installed country model version.
      oneOf:
        - required: [status, output]
          properties:
            status:
              enum: [complete]
            output:
              not:
                enum: [null]
        - not:
            required: [status]
            properties:
              status:
                enum: [complete]
    SimulationResponse:
      type: object
      required: [status, message, result]
      properties:
        status:
          type: string
          enum: [ok]
        message:
          type: string
          nullable: true
          description: Creation/update confirmation; null for GET.
        result:
          $ref: '#/components/schemas/SimulationRecord'
    SimulationRecord:
      type: object
      required:
        - id
        - country_id
        - api_version
        - population_id
        - population_type
        - policy_id
        - status
        - output
        - error_message
        - simulation_spec_json
        - simulation_spec_schema_version
        - active_run_id
        - latest_successful_run_id
      properties:
        id:
          type: integer
        country_id:
          type: string
        api_version:
          type: string
          description: Country model version recorded on creation or latest update.
        population_id:
          type: string
          description: Saved population spelling, including historical zero-padded household IDs.
        population_type:
          type: string
          enum: [household, geography]
        policy_id:
          type: integer
        status:
          type: string
          description: Stored calculation state, normally pending, running, complete or error.
        output:
          type: string
          nullable: true
          description: >-
            Non-string JSON output is JSON-encoded, or null when absent. Stored
            scalar strings are returned unchanged. Decode a saved household
            calculation envelope once to recover spm_config and spm_provenance
            beside its result, not beside this record.
          x-household-envelope-schema:
            $ref: '#/components/schemas/StoredHouseholdOutputEnvelope'
        error_message:
          type: string
          nullable: true
        simulation_spec_json:
          type: string
          nullable: true
          description: JSON-encoded country_id, population_id, population_type and policy_id; null on historical records without specification metadata.
        simulation_spec_schema_version:
          type: integer
          nullable: true
          description: Version 1 for the current identity specification; may be null on historical records.
        active_run_id:
          type: string
          format: uuid
          nullable: true
          description: Current pending/running run ID; null when inactive or absent on a historical record.
        latest_successful_run_id:
          type: string
          format: uuid
          nullable: true
          description: Most recent successful run ID; null until one exists or on a historical record without run metadata.
    StoredHouseholdOutputEnvelope:
      type: object
      description: >-
        Household calculation envelope saved as simulation output. Keep result
        and both SPM fields together. Legacy calculations omit SPM fields; this
        descriptive schema does not add validation to the persistence endpoint.
      properties:
        status:
          type: string
        message:
          type: string
          nullable: true
        result:
          type: object
          nullable: true
        spm_config:
          $ref: '#/components/schemas/SPMSelection'
        spm_provenance:
          $ref: '#/components/schemas/SPMProvenance'
    SimulationError:
      type: object
      required: [status, message, result]
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
        result:
          type: object
          nullable: true
        errors:
          type: array
          description: Present for a rejected top-level SPM override.
          items:
            type: object
            required: [code, message]
            properties:
              code:
                type: string
                enum: [SPM_SETTINGS_UNSUPPORTED]
              message:
                type: string
    # The public loader replaces these with the public typed model schemas,
    # converting optional fields to OpenAPI 3.0 nullable so validation stays aligned.
    SPMDiscovery:
      type: object
      description: SPM availability for this installed country bundle. Available bundles also expose the selection schema and resolved defaults.
      required: [available]
      properties:
        available:
          type: boolean
        settings_schema:
          type: object
          description: JSON Schema for SPMSelection, preserving omitted fields.
        defaults:
          $ref: '#/components/schemas/SPMSelection'
    SPMWorkerProvenance:
      type: object
      additionalProperties: false
      required: [baseline, reform]
      properties:
        baseline:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SPMProvenance'
        reform:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SPMProvenance'
    SPMSelection:
      description: Generated from policyengine_api.spm.SPMSelection.
    SPMProvenance:
      description: Generated from policyengine_api.spm.SPMProvenance.
  responses:
    SPMValidationError:
      description: >-
        Household input or settings validation failed. SPM errors always include
        result null and an errors array with code/message objects; other validation
        errors may omit those fields. SPM household input codes
        are SPM_GEOGRAPHY_REQUIRED, SPM_GEOGRAPHY_UNAVAILABLE,
        SPM_COMPOSITION_REQUIRED, and SPM_YEAR_UNAVAILABLE. Unsupported or uncertified settings use
        SPM_SETTINGS_INVALID, SPM_SETTINGS_UNSUPPORTED, or
        SPM_CONFIGURATION_UNAVAILABLE.
      content:
        application/json:
          schema:
            type: object
            required: [status, message]
            properties:
              status:
                type: string
                enum: [error]
              message:
                type: string
              result:
                type: object
                nullable: true
              errors:
                type: array
                items:
                  type: object
                  required: [message]
                  properties:
                    code:
                      type: string
                    message:
                      type: string
