openapi: 3.0.0
info:
  title: PolicyEngine API
  description: The PolicyEngine API provides programmatic access to PolicyEngine functionalities, including managing policies and retrieving policy-related information.
  version: null
  contact:
    name: PolicyEngine Support
    email: hello@policyengine.org
    url: https://policyengine.org
servers:
  - url: https://api.policyengine.org
    description: Production server
paths:
  /:
    get:
      summary: Get the home page of the PolicyEngine API
      operationId: get_home
      description: Returns the home page of the PolicyEngine API as an HTML string.
      responses:
        200:
          description: The home page.
          content:
            text/html:
              schema:
                type: string
  /{country_id}/metadata:
    get:
      summary: Get metadata for a country
      operationId: get_metadata
      description: Get metadata for a country, including variables, parameters, entities, and other relevant information.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Metadata for the country.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      variables:
                        type: object
                      parameters:
                        type: object
                      entities:
                        type: object
                      variableModules:
                        type: object
                      economy_options:
                        type: object
                      current_law_id:
                        type: integer
                      basicInputs:
                        type: array
                      modelled_policies:
                        type: object
                      version:
                        type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policy:
    post:
      summary: Set policy data for a given country and policy ID
      operationId: set_policy
      description: Set policy data for a given country and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                data:
                  type: object
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      policy_id:
                        type: integer
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policy/{policy_id}:
    get:
      summary: Get policy data for a given country and policy ID
      operationId: get_policy
      description: Get policy data for a given country and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The policy record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                      country_id:
                        type: string
                      policy_json:
                        type: object
                      policy_hash:
                        type: string
                      label:
                        type: string
                      api_version:
                        type: string
        404:
          description: Policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policies:
    get:
      summary: Search for policies
      operationId: get_policy_search
      description: Search for policies based on the country ID and search query.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: The search query.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: The search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        label:
                          type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household:
    post:
      summary: Set a household's input data
      operationId: post_household
      description: Set a household's input data for a given country ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                data:
                  type: object
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      household_id:
                        type: integer
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household/{household_id}:
    get:
      summary: Get a household's input data with a given ID
      operationId: get_household
      description: Get a household's input data with a given country ID and household ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: The household data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                      country_id:
                        type: string
                      household_json:
                        type: object
                      household_hash:
                        type: string
                      label:
                        type: string
                        nullable: true
                      api_version:
                        type: string
        404:
          description: Household not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
    put:
      summary: Update an existing household
      operationId: update_household
      description: Update an exising household located at the passed ID
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Household updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      household_id:
                        type: integer
        404:
          description: Household not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household/{household_id}/policy/{policy_id}:
    get:
      summary: Get a household's output data under a given policy
      operationId: get_household_under_policy
      description: Get a household's output data under a given policy with specified country ID, household ID, and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: The household data under a given policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                  execution_receipt:
                    $ref: "#/components/schemas/ExecutionReceipt"
        404:
          description: Household or policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        500:
          description: Error calculating household under policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/calculate:
    post:
      summary: Calculate household and policy without storing data
      operationId: get_calculate
      description: Lightweight endpoint for passing in household and policy JSON objects and calculating without storing data. Specify the country ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                household:
                  type: object
                policy:
                  type: object
      responses:
        200:
          description: The calculation result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                  execution_receipt:
                    $ref: "#/components/schemas/ExecutionReceipt"
        500:
          description: Error calculating household under policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/report:
    post:
      summary: Create a report output
      operationId: create_report_output
      description: Create or retrieve a report output for the provided simulations and year.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                simulation_1_id:
                  type: integer
                simulation_2_id:
                  type: integer
                  nullable: true
                year:
                  type: string
      responses:
        "200":
          description: Existing report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
        "201":
          description: Created report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
    patch:
      summary: Update a report output
      operationId: update_report_output
      description: Update a report output status, result, or error message.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                status:
                  type: string
                output:
                  type: object
                  nullable: true
                error_message:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Updated report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
  /{country_id}/report/{report_id}:
    get:
      summary: Get a report output
      operationId: get_report_output
      description: Get a report output by ID. Timestamp fields are projected from the selected base report run.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: report_id
          in: path
          description: The report output ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Report output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      requested_at:
                        type: string
                        nullable: true
                      started_at:
                        type: string
                        nullable: true
                      finished_at:
                        type: string
                        nullable: true
  /{country_id}/economy/{policy_id}/over/{baseline_policy_id}:
    get:
      summary: Calculate the economic impact of a policy
      operationId: get_economic_impact
      description: Calculate the economic impact of a policy compared to a baseline policy. Specify the country ID, policy ID, and baseline policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: string
        - name: baseline_policy_id
          in: path
          description: The baseline policy ID.
          required: true
          schema:
            type: string
        - name: region
          in: query
          description: The sub-national region.
          required: false
          schema:
            type: string
        - name: time_period
          in: query
          description: Reform time period
          required: false
          schema:
            type: string
        - name: version
          in: query
          description: API version number
          required: false
          schema:
            type: string
        - name: include_district_breakdowns
          in: query
          description: Deprecated no-op. Congressional district results are returned automatically for US national and state-level simulations.
          deprecated: true
          required: false
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Calculating economic impact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
        200:
          description: Calculation queue position.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
                  average_time:
                    type: float
        200:
          description: The economic impact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      policyengine_bundle:
                        type: object
                      execution_receipt:
                        $ref: "#/components/schemas/ExecutionReceipt"
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/economy/{policy_id}/over/{baseline_policy_id}/budget-window:
    get:
      summary: Calculate budget-window economic impacts
      operationId: get_budget_window_economic_impact
      description: Calculate annual and total budget impacts for a policy over a multi-year budget window.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The reform policy ID.
          required: true
          schema:
            type: string
        - name: baseline_policy_id
          in: path
          description: The baseline policy ID.
          required: true
          schema:
            type: string
        - name: region
          in: query
          description: The sub-national region.
          required: true
          schema:
            type: string
        - name: start_year
          in: query
          description: First year in the budget window.
          required: true
          schema:
            type: string
        - name: window_size
          in: query
          description: Number of years to include in the budget window.
          required: true
          schema:
            type: integer
        - name: dataset
          in: query
          description: Dataset selection.
          required: false
          schema:
            type: string
            default: default
        - name: version
          in: query
          description: API version number.
          required: false
          schema:
            type: string
        - name: include_district_breakdowns
          in: query
          description: Deprecated no-op. Congressional district results are returned automatically for US national and state-level simulations.
          deprecated: true
          required: false
          schema:
            type: boolean
            default: false
        - name: target
          in: query
          description: Impact target. Budget-window calculations only support general impacts.
          required: false
          schema:
            type: string
            default: general
      responses:
        200:
          description: Budget-window economic impact, progress, or error state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                      - computing
                      - error
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
                  progress:
                    type: integer
                    nullable: true
                  completed_years:
                    type: array
                    items:
                      type: string
                  computing_years:
                    type: array
                    items:
                      type: string
                  queued_years:
                    type: array
                    items:
                      type: string
                  error:
                    type: string
                    nullable: true
        400:
          description: Invalid budget-window request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  result:
                    type: object
                    nullable: true
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/analysis:
    post:
      summary: Get or trigger policy analysis
      operationId: get_analysis
      description: Trigger policy analysis for a given prompt or retrieve analysis for a given prompt ID. Specify the country ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        200:
          description: Analysis or analysis status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      prompt_id:
                        type: integer
                      analysis:
                        type: string
  /{country_id}/analysis/{prompt_id}:
    get:
      summary: Get policy analysis for particular prompt ID
      operationId: get_analysis
      description: Retrieve analysis for a particular prompt ID, specified in query parameters.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: prompt_id
          in: path
          description: The prompt ID.
          required: true
      responses:
        200:
          description: Analysis with provided prompt ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  result:
                    type: object
                    properties:
                      prompt_id:
                        type: integer
                      analysis:
                        type: string 
        405:
          description: Method not allowed; no prompt_id provided
          content:
            text/html:
              schema:
                type: string

  /liveness-check:
    get:
      summary: Test for server liveness.
      operationId: liveness_check
      description: Determine whether or not the PolicyEngine server is live.
      responses:
        200:
          description: Server is live.
          content:
            text/plain:
              schema:
                type: string
  /readiness-check:
    get:
      summary: Test for server readiness.
      operationId: readiness_check
      description: Determine whether or not the PolicyEngine server is ready.
      responses:
        200:
          description: Server is ready.
          content:
            text/plain:
              schema:
                type: string
  /specification:
    get:
      summary: Get OpenAPI specs.
      operationId: get_specification
      description: Get OpenAPI-formatted specs of PolicyEngine API
      responses:
        200:
          description: OpenAPI specs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    type: object
                  openapi:
                    type: string
                  paths:
                    type: object
                  servers:
                    type: array
components:
  schemas:
    ExecutionReceipt:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - requested
        - resolved
      properties:
        schema_version:
          type: integer
          enum: [1]
        requested:
          $ref: "#/components/schemas/RequestedExecutionAliases"
        resolved:
          $ref: "#/components/schemas/ResolvedExecutionBundle"
        run_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        request_sha256:
          $ref: "#/components/schemas/NullableSha256"
        result_sha256:
          $ref: "#/components/schemas/NullableSha256"
    RequestedExecutionAliases:
      type: object
      additionalProperties: false
      properties:
        engine:
          type: string
          nullable: true
        bundle:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        data:
          type: string
          nullable: true
        ruleset:
          type: string
          nullable: true
        population:
          type: string
          nullable: true
        numeric_mode:
          type: string
          nullable: true
    ResolvedExecutionBundle:
      type: object
      additionalProperties: false
      required:
        - runtime
        - numeric_mode
      properties:
        runtime:
          $ref: "#/components/schemas/RuntimeIdentity"
        numeric_mode:
          type: string
        model:
          allOf:
            - $ref: "#/components/schemas/PackageResolution"
          nullable: true
        data:
          allOf:
            - $ref: "#/components/schemas/PackageResolution"
          nullable: true
        ruleset_artifact:
          allOf:
            - $ref: "#/components/schemas/ArtifactIdentity"
          nullable: true
        population_artifact:
          allOf:
            - $ref: "#/components/schemas/ArtifactIdentity"
          nullable: true
        certified_release:
          allOf:
            - $ref: "#/components/schemas/CountryReleaseManifest"
          nullable: true
        bundle_trace:
          allOf:
            - $ref: "#/components/schemas/TraceReference"
          nullable: true
    RuntimeIdentity:
      type: object
      additionalProperties: false
      required:
        - name
        - version
      properties:
        name:
          type: string
        version:
          type: string
        git_sha:
          type: string
          nullable: true
        artifact:
          allOf:
            - $ref: "#/components/schemas/ArtifactIdentity"
          nullable: true
    PackageResolution:
      type: object
      additionalProperties: false
      required:
        - actual
      properties:
        actual:
          $ref: "#/components/schemas/PackageVersion"
        certified:
          allOf:
            - $ref: "#/components/schemas/PackageVersion"
          nullable: true
    PackageVersion:
      type: object
      additionalProperties: false
      required:
        - name
        - version
      properties:
        name:
          type: string
        version:
          type: string
        sha256:
          $ref: "#/components/schemas/NullableSha256"
        wheel_url:
          type: string
          nullable: true
    DataPackageVersion:
      type: object
      additionalProperties: false
      required:
        - name
        - version
        - repo_id
        - repo_type
        - release_manifest_path
      properties:
        name:
          type: string
        version:
          type: string
        sha256:
          $ref: "#/components/schemas/NullableSha256"
        wheel_url:
          type: string
          nullable: true
        repo_id:
          type: string
        repo_type:
          type: string
        release_manifest_path:
          type: string
        release_manifest_revision:
          type: string
          nullable: true
    ArtifactPathReference:
      type: object
      additionalProperties: false
      required:
        - path
      properties:
        path:
          type: string
        revision:
          type: string
          nullable: true
        sha256:
          $ref: "#/components/schemas/NullableSha256"
        metadata_sha256:
          $ref: "#/components/schemas/NullableSha256"
        repo_id:
          type: string
          nullable: true
        repo_type:
          type: string
          nullable: true
    ArtifactPathTemplate:
      type: object
      additionalProperties: false
      required:
        - path_template
      properties:
        path_template:
          type: string
    CertifiedDataArtifact:
      type: object
      additionalProperties: false
      required:
        - dataset
        - uri
      properties:
        data_package:
          allOf:
            - $ref: "#/components/schemas/PackageVersion"
          nullable: true
        dataset:
          type: string
        uri:
          type: string
        sha256:
          $ref: "#/components/schemas/NullableSha256"
        build_id:
          type: string
          nullable: true
    DataCertification:
      type: object
      additionalProperties: false
      required:
        - compatibility_basis
        - certified_for_model_version
      properties:
        compatibility_basis:
          type: string
        certified_for_model_version:
          type: string
        data_build_id:
          type: string
          nullable: true
        built_with_model_version:
          type: string
          nullable: true
        built_with_model_git_sha:
          type: string
          nullable: true
        data_build_fingerprint:
          type: string
          nullable: true
        certified_by:
          type: string
          nullable: true
    CountryReleaseManifest:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - country_id
        - policyengine_version
        - model_package
        - data_package
        - default_dataset
        - datasets
        - region_datasets
      properties:
        schema_version:
          type: integer
        bundle_id:
          type: string
          nullable: true
        published_at:
          type: string
          nullable: true
        country_id:
          type: string
        policyengine_version:
          type: string
        model_package:
          $ref: "#/components/schemas/PackageVersion"
        data_package:
          $ref: "#/components/schemas/DataPackageVersion"
        default_dataset:
          type: string
        datasets:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ArtifactPathReference"
        region_datasets:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ArtifactPathTemplate"
        certified_data_artifact:
          allOf:
            - $ref: "#/components/schemas/CertifiedDataArtifact"
          nullable: true
        certification:
          allOf:
            - $ref: "#/components/schemas/DataCertification"
          nullable: true
    ArtifactIdentity:
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
        version:
          type: string
          nullable: true
        uri:
          type: string
          nullable: true
        revision:
          type: string
          nullable: true
        sha256:
          $ref: "#/components/schemas/NullableSha256"
        build_id:
          type: string
          nullable: true
    TraceReference:
      type: object
      additionalProperties: false
      required:
        - composition_fingerprint
      properties:
        composition_fingerprint:
          $ref: "#/components/schemas/Sha256"
        sha256:
          $ref: "#/components/schemas/NullableSha256"
        url:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
    Sha256:
      type: string
      pattern: "^[0-9a-f]{64}$"
    NullableSha256:
      type: string
      pattern: "^[0-9a-f]{64}$"
      nullable: true
