**/__pycache__
*.egg-info
.pytest_cache
**/*.db
**/*.db-journal
.gac.json
.dbpw
.github_microdata_token
/app.yaml
/Dockerfile
dist/*
**/*.rdb
**/*.h5
**/*.csv.gz
.env
logs/*
*.log

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

## vscode settings
/.vscode