name: Publish to PyPI

on:
  release:
    types: [published]  

# Use release: → if you want to publish after manually creating a GitHub Release.
# Use push: tags: → if you want to publish as soon as you push a version tag (git tag v1.2.3 && git push origin v1.2.3).

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
